alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: [...]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h
      receiver: "colab"
      routes:
      - match:
          alertname: "Watchdog"
        receiver: "null"
    receivers:
    - name: "colab"
      opsgenie_configs:
      - api_key: {{ .Values.opsgenie.api_key }}
    - name: "null"
